<header>
    <nav class="header-nav">
        <a class="header-title" href="/">MyActors</a>
  
    <ul>
        <li><a href="/actors">Actors</a></li>
        <li><a href="/actors/new">Add Actors</a></li>
        <li><a href="/films">Films</a></li>
        <li><a href="/films/new">Add Films</a></li>

    </ul>
</nav>
</header>