<%# Middle, Im not Actually in actors but in app root %>

<h2>Recently Added</h2>

<div>
<% films.forEach((film) => { %>
<a href="/films/<%- film.id %>">
<img height="100" width="80" src ="<%= film.coverImagePath %>">
</a>
<% }) %>
</div>
