<%# Middle, Im not Actually in actors but in app root %>

<h2>Recently Added</h2>

<div>
<% films.forEach((film) => { %>

<img height="100" width="80" src ="<%= film.coverImagePath %>">

<% }) %>
</div>
