<h2> Search Actors </h2>

<form action="/films" method="GET">
   <div>
   <label>Title</label>
   <input type="text" name="title" value="<%= searchOptions.title %>">
   </div>

   <div>
   <label>Published After</label>
   <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
   </div>

   <div>
   <label>Published Before</label>
   <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
   </div>

<button type="submit">Search</button>

</form>

<div>
<% films.forEach(film => { %>

<img height="100" width="80" src ="<%= film.coverImagePath %>">

<% }) %>
</div>